<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Manutenções</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <header th:replace="~{layouts/header :: header}"></header>

    <main class="container">
        <hgroup>
            <h1>Gerenciamento de Manutenções</h1>
            <p>Lista de todas as manutenções realizadas nas motos.</p>
        </hgroup>
        
        <article th:if="${message}" class="bg-success-subtle">
            <p th:text="${message}"></p>
        </article>

        <section>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Moto</th>
                        <th>Tipo de Serviço</th>
                        <th>Quilometragem</th>
                        <th>Data</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="manutencao : ${manutencoes}">
                        <td th:text="${manutencao.id}"></td>
                        <td th:text="${manutencao.moto.modelo}"></td>
                        <td th:text="${manutencao.tipoServico}"></td>
                        <td th:text="${manutencao.quilometragem}"></td>
                        <td th:text="${manutencao.dataManutencao}"></td>
                        <td>
                            <a th:href="@{/manutencoes/edit/{id}(id=${manutencao.id})}" class="secondary">Editar</a>
                            <form th:action="@{/manutencoes/delete/{id}(id=${manutencao.id})}" method="post" style="display:inline;">
                                <button type="submit" class="outline">Excluir</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <div class="grid">
            <a th:href="@{/manutencoes/new}" role="button">Nova Manutenção</a>
        </div>
    </main>
    <footer th:replace="~{layouts/footer :: footer}"></footer>
</body>
</html>